:root {
  --purple: #977ff1;
  --blue: #67a2fd;
  --pink: #e97e9f;
  --thistle: #d0bfff;
  --dimgrey: #727577;
  --white: #fff;
  --black: #000;
}
.completed-color {
  background-color: var(--dimgrey) !important;
  color: var(--white);
}
body {
  background-color: #dcdcdc;
  font-family: "Courier New", Courier, monospace;
}
.container {
  background-color: rgba(255, 255, 255, 0.5);
  max-width: 33rem;
  margin: 4rem auto;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* input box  */
.input-box {
  width: 67%;
  height: 2.2rem;
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.3rem;
  margin-bottom: 1.5rem;
}
.text-input {
  flex-basis: 82%;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 8px;
  font-size: small;
  font-family: inherit;
}
.fa-plus {
  flex-basis: 18%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--purple);
  border-radius: 0 0.2rem 0.2rem 0;
}
/* buttons  */
.btn-container {
  margin-bottom: 3rem;
  text-align: center;
  width: 67%;
}
.all-btn,
.completed-btn,
.incomplete-btn {
  background-color: var(--thistle);
  font-family: inherit;
  border: 1px solid var(--thistle);
  border-radius: 0.3rem;
  width: 31.5%;
  padding: 0.5rem;
  transition: all 0.3s;
}
.all-btn:hover,
.completed-btn:hover,
.incomplete-btn:hover {
  color: var(--white);
  border: 1px solid #888;
  cursor: pointer;
}
/* todo box  */
.to-do-container {
  width: 67%;
  height: max-content;
  padding: 0;
}
.to-do-box {
  background-color: var(--white);
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: space-between;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  transition: all 0.3s;
}
.to-do-box:hover {
  cursor: grab;
  transform: scale(1.02);
}
.to-do-text {
  flex-basis: 72%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.to-do-box .fa-check,
.to-do-box .fa-xmark,
.to-do-box .fa-trash {
  flex-basis: 14%;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-do-box .fa-check,
.to-do-box .fa-xmark {
  background-color: var(--pink);
  font-size: 1.2rem;
}
.to-do-box .fa-trash {
  background-color: var(--blue);
  border-radius: 0 0.2rem 0.2rem 0;
}
.fa-plus:hover,
.fa-check:hover,
.fa-xmark:hover,
.fa-trash:hover {
  color: var(--black);
  cursor: pointer;
}
/* responsive  */
@media screen and (max-width: 576px) {
  .container {
    margin: 1rem auto;
  }
  .input-box,
  .to-do-container,
  .btn-container {
    width: 88%;
  }
}
@media screen and (max-width: 445px) {
  .all-btn,
  .completed-btn,
  .incomplete-btn {
    width: 30%;
  }
}
